body {
    margin: 0;
    padding: 0;
    font-family: Roboto,"JetBrains Mono",monospace;
}

.title {
    text-align: center;
}
.choiceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
}

.description {
    text-align: center;
}
.choice {
    margin: 1em;
    border-radius: 15px;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;   
}

.choice:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

.resultsContainer {
    display: flex;
    justify-content: center;
    margin-top: 10em;
}

.pointsBoard {
    display: flex;
    justify-content: center;
}

#computer {
    font-size: 25px;
}
#player {
    margin-left: 10em;
    font-size: 25px;
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .choiceContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
    }

    .resultsContainer {
        display: flex;
        justify-content: center;
        margin-top: 1em;
    }

    .pointsBoard {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #player {
        font-size: 25px;
        margin-left: 0;
        align-self: center;
    }

    #computer {
        font-size: 25px;
        align-self: center;
    }

    #rpsWinner {
        align-self: center;
    }
  }